/* ref stylesheet */

body {
    background-color: rgb(183, 241, 228);
}

h1{
    color: rgb(69, 53, 69);
}

header {
    text-align: center;
}


ul {
    list-style: none;
    display: inline;
}

h2 {
    text-align: center;
}

section {
    background-color: white;
    display: inline-block;
    margin: 20px;
    padding: 20px;
}

 #one-txt {
    color:rgb(69, 53, 69);
    font-size: large;
    width: 57%;
    float: left;

 }

#first {
    width: 40%;
    float: right;
}

article {
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(26, 101, 91);
    display: inline-block;
    width: 30%;
    padding: 10px;
    vertical-align: top;
}

img {
    width: 70%;
    margin: 10px;
}

footer {
    text-align: center;
}